[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
itsdangerous = "*"
cssmin = "*"
jsmin = "*"
pytest = "*"
pytest-cov = "*"
mccabe = "*"
"flake8" = "*"
Flask = "*"
Flask-Assets = "*"
Flask-Caching = "*"
Flask-DebugToolbar = "*"
Flask-Login = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Flask-Restless = "*"

[dev-packages]

[requires]
python_version = "3.7"
